@font-face {
  font-family: "ABCDiatype-Thin";
  src: url("/fonts/ABCDiatypeCompressed-Thin-Trial.otf") format("opentype");
}

@font-face {
  font-family: "ABCDiatype-Light";
  src: url("/fonts/ABCDiatypeCompressed-Light-Trial.otf") format("opentype");
}

@font-face {
  font-family: "ABCDiatype-Regular";
  src: url("/fonts/ABCDiatypeCompressed-Regular-Trial.otf") format("opentype");
}

@font-face {
  font-family: "ABCDiatype-Medium";
  src: url("/fonts/ABCDiatypeCompressed-Medium-Trial.otf") format("opentype");
}

@font-face {
  font-family: "ABCDiatype-Bold";
  src: url("/fonts/ABCDiatypeCompressed-Bold-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Robert-Reg";
  src: url("/fonts/RoobertRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robert-Med";
  src: url("/fonts/RoobertMedium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "1982";
  src: url("/fonts/BACKTO1982.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-black: #020202;
  --purple: #4c35de;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* ID TEXTS */
#whiteText {
  color: #fff;
}
#greyText {
  color: #807f7f;
}
/* ID TEXTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
}
html,
body,
.page-wrapper {
  width: 100%;
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
  background: #0a0a0a;

  /* background: var(--main-black); */
}

h1 {
  font-size: 60px !important;
  line-height: 125% !important;
}

h2 {
  font-size: 50px;
  line-height: 125% !important;
}

h3 {
  font-size: 24px;
  line-height: 125% !important;
}

h4 {
  font-size: 20px;
  line-height: 125% !important;
}
h5 {
  font-size: 18px;
  line-height: 125% !important;
}
h6 {
  font-size: 16px;
  line-height: 125% !important;
}

@media screen and (max-width: 950px) {
  h1,
  .headerH1 {
    font-size: 44px !important;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .main-black {
    color: #020202;
  }

  .bg-main-black {
    background: #020202;
  }

  .bg-gray {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .border-gray {
    border-color: rgba(255, 255, 255, 0.6);
  }

  .text-gray {
    color: rgba(255, 255, 255, 0.6);
  }

  .abc-diatype-thin {
    font-family: "ABCDiatype-Thin", "oswald", sans-serif;
  }

  .abc-diatype-light {
    font-family: "ABCDiatype-Light", "oswald", sans-serif;
  }

  .abc-diatype-regular {
    font-family: "ABCDiatype-Regular", "oswald", sans-serif;
  }

  .abc-diatype-medium {
    font-family: "ABCDiatype-Medium", "oswald", sans-serif;
  }
  .abc-diatype-bold {
    font-family: "ABCDiatype-Bold", "oswald", sans-serif;
  }

  .purpleBg {
    background: var(--purple);
  }
  .purpleBg:hover {
    background: #341fbb !important;
  }
}

/* Nav Bar Code */
/* styles.css */
.no-scroll {
  overflow: hidden !important;
}
.black-bg {
  background: var(--main-black);
}

nav {
  z-index: 60 !important;
}
nav a,
nav button {
  font-size: 14px !important;
}
a span {
  font-size: 14px !important;
}

nav button {
  height: 35px;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Adjust as needed */
}

.mobileNavLink {
  border-top: 0.5px solid #807f7f;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

.mobileNav {
  transition: opacity 300ms ease-in-out;
  background: var(--main-black);
  z-index: 80;
}
/* Nav Bar Code */

/* HOME CODE */

.backgroundOverlay {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.493);
}
.homeVidContainer {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.homeVidContainer video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.homeHeaderContainer {
  transition: opacity 500ms ease-in-out;
  z-index: 50;
}

.headerH1 {
  font-family: "Robert-Med" !important;
  font-size: 112px;
}
.homeHeaderContainer h1 {
}

.figureWrapper {
  height: 100%;
  padding-bottom: 30vh;
}
.videoFigureContainer {
  max-width: 780px;
  /* min-width: 800px; */
}
figure video {
  max-height: 800px;
  border-radius: 10px;
  max-width: 780px;
  /* min-width: 800px; */

  border: 0.5px solid #807f7f;
}

.mainVideoContainer {
  max-height: 756px;

  align-self: center;
  border-radius: 10px;
}
.mainVideoContainer video {
  max-height: 100%;
  width: 100vw;
  /* max-width: 1462px; */
  max-height: 756px;
  height: 756px;
  object-fit: none;
  border-radius: 10px;
  border: 1px solid #807f7f;
}
@media screen and (max-width: 1350px) {
  figure video,
  .videoFigureContainer {
    max-width: 660px;
  }
  .oracleVideoContainer video {
    max-width: 100%;
  }
}
.vidDivider {
  align-self: center;
  width: 269px;
  height: 5px;
  background: #807f7f80;
  border-radius: 10px;
  border: none;
  border: 1px solid #807f7f80;
}

@media screen and (max-width: 950px) {
  .figureWrapper {
    flex-direction: column !important;
    padding-bottom: 10vh;
  }
  .info-section {
    gap: 0vh;
  }
  .featuresTab {
    font-size: 12px;
  }

  figure video,
  .videoFigureContainer {
    max-width: 100%;
  }
}

.featuresTab {
  background: #333333;
  border-radius: 10px;
}
.featuresTab.active {
  border: 0.5px solid #333333;
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
  .blogImageWrapper {
    flex-direction: row;
  }
  .features-container {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 800px) {
  .blogImageWrapper {
    flex-direction: column;
  }
}

.blogImage {
  min-width: 300px;
  height: 205px;
  border-radius: 8px;
  border: 1px solid #807f7f;
}

.blogImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.newsLetterForm {
  border-bottom: 1px solid #807f7f58;
  font-size: 14px;
}
.newsLetterForm::placeholder {
  font-size: 14px;
}
.newsLetterInput {
  padding: 10px 2px;
  width: 100%;
  outline: none;
}

/* Home page popup code */
.homePopup {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 90;
  /* display: none; */
}
.displayShow {
  display: flex;
}
@media screen and (max-width: 1050px) {
  .homePopupContainer {
    width: 100%;
    height: 505px;
    flex-direction: column !important;
  }
  .homePopup {
    padding: 0px 20px;
  }
  .homePopupImageContainer {
    z-index: 0;
  }
  .homePopupImageContainer img {
    width: 100%;
    opacity: 0.5;
    /* object-fit: contain !important; */
    max-width: 100% !important;
  }
  .homePopupFormContainer {
    z-index: 10;
    width: 100%;
    flex-basis: auto !important;
  }
  .homePopupFormContainer form {
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row-reverse;
    padding-right: 20px;
    padding-left: 20px;
    font-family: inherit !important;
    padding-bottom: 0px !important;
  }
  .homePopupFormContainer form input {
    background: #070707b8 !important;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    height: 35px !important;
  }
  .formImage {
    background: transparent !important;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none !important;
  }
  .closePopupContainer {
    left: 50%;
  }

  .topDiv {
    z-index: 10;
  }

  .homePopupFormContainer > form > button { 
    width: 100px;
    height: 100px;
  }
}
.homePopupContainer {
  border: 0.5px solid #2f0ffd;
  width: 800px;

  height: 505px;
  position: relative;
  background: #01010185;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.homePopupImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: start;
}
.homePopupImageContainer img {
  /* width: 100%; */
  height: 100%;
  /* max-width: 150% !important; */
  object-fit: cover;
  /* transform: translateX(-20%); */
}
.homePopupFormContainer {
  flex-basis: 5%;
  display: flex;
  justify-content: end;
}

.homePopupFormContainer form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 20px;
  padding-bottom: 100px;
}
.homePopupFormContainer form input {
  height: 20px;
  background: transparent;
  border: 0.5px solid #6e6e6e;
  padding: 15px 5px;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
}

.formImage {
  background: rgba(255, 255, 255, 0.038);
  border: 0.5px solid #3c3c3c;
  border-radius: 50%;
}
.formImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.iconImageRightTop {
  position: absolute;
  top: -5%;
  left: -3%;
  transform: rotate(25deg);
  width: 64px;
  height: 64px;
  z-index: 95;
}

.closePopupContainer {
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  right: -8%;
  transform: rotate(0deg);
  width: 32px;
  height: 32px;
  z-index: 95;
}
.iconImageLeftTop {
  position: absolute;
  top: -5%;
  right: -3%;
  transform: rotate(-25deg);
  width: 64px;
  height: 64px;
  z-index: 95;
}
.iconImageLeftBottom {
  position: absolute;
  bottom: -5%;
  right: -3%;
  transform: rotate(-25deg);
  width: 64px;
  height: 64px;
  z-index: 95;
}
.iconImageRighttBottom {
  position: absolute;
  bottom: -5%;
  left: -3%;
  transform: rotate(25deg);
  width: 64px;
  height: 64px;
  z-index: 95;
}

.topDiv {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topDivContainer {
  font-size: 30px;
  padding: 2rem;
  height: 50px;
  width: 362px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f0ffd35;
  border: 1px solid #2f0ffd;
  border-radius: 8px;
  transform: translateY(-30%);
}

/* Home page popup code */
/* HOME CODE */
/* BODY WRAPPER CODE  */
.bodyWrapper {
  background: url("../../public/assets//BG.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  .bodyWrapper {
    background-size: contain;
  }
}
/* BODY WRAPPER CODE  */

/* DashBoard code  */

.mainIcon {
  width: 12px;
  height: 12px;
}
.iconBorder {
  border: 1px solid #807f7f;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.newChat {
  width: 135px;
  height: 40px;
  background: linear-gradient(180deg, #2f0ffd30, #291d7850);
  border-radius: 5px;
}

.chatSearchIcon {
  background: #4c35de27;
  border-radius: 5px;
  width: 220px;
  height: 40px;
  padding-left: 17px;
  color: #4c35de;
}

.tempOverlay {
  filter: blur(5px);
}

.chatContainer {
  width: 300px;
  max-width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 950px) {
  .chatContainer {
    display: none !important;
  }
  .chatDashBoardContainer {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }
  .renderCardsWrapper {
    /* min-width: 100% !important;  */
    overflow-x: scroll;
    min-width: auto !important;
    cursor: grab;
  }
  .renderCardsWrapper::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
  }

  .renderCards {
    width: 250px !important;
    position: relative;
    display: inline-block;
    pointer-events: none;
  }
  .renderCards p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate text with ellipsis */
  }
  .chatDashboard {
    padding: 0px !important;
  }
}
.chatContainer > button {
  font-size: 14px;
}

.chatDashboard {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  padding: 14px;
}

.chatRenderWrapper {
  border-left: 0.5px solid #807f7f;
  margin-left: 25px;
  font-size: 14px;
  color: #807f7f;
  max-height: 150px;
  /* overflow-y: scroll;
  overflow-x: visible !important; */
}

.settingsContainer {
  margin-top: 24px;
  padding: 15px 0px;
  padding-right: 5px;
  border-top: 0.5px solid #807f7f;
  border-bottom: 0.5px solid #807f7f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navDashboard {
  border-bottom: 0.5px solid #858585;
  background: linear-gradient(119deg, #2b2b2b -10.43%, #dfdfdf 1328.55%);
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.chatDashboardWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background: #121212;
  border-radius: 8px;
  border: 0.5px solid #807f7f57;
  overflow-x: hidden;
}

.chatDashBoardContainer {
  padding: 70px;
  /* padding-right: 0px; */
  padding-top: 0px;
  padding-bottom: 70px;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.guideLinesContainer {
  border-bottom: 0.5px solid #807f7f57;
  padding-top: 15px;
  padding-bottom: 15px;
}

.guideLinesBtn {
  background: #333333;
  height: 35px;
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.chatDashboardWrapper h1 {
  color: #bdbdbd;
  font-size: 50px;
  font-weight: 300;
}
.chatDashboardWrapper h2:nth-child(2) {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bolder;
}
.chatDashboardForm {
  margin-top: 57px;
  position: relative;
  border-radius: 5px;
  width: 675px;
  height: 58px;
  flex-shrink: 0;
  box-shadow: 0px 4px 31px 0px #3e3e3e inset;
  border: 0.5px solid #545454;
  background: linear-gradient(168deg, #3c3c3c 22.31%, #262626 117.849%);
}
.chatDashboardForm input {
  width: 675px;
  height: 58px;
  padding: 8px;
  background: transparent;
  color: #fff;
}
.dashboardBtn {
  width: 117px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #2f6698;
  background: linear-gradient(
    93deg,
    rgba(33, 38, 62, 0.52) -27.44%,
    rgba(82, 94, 110, 0.28) 109.78%
  );
  color: #bdbdbd;
  font-weight: 300;
}
.posAbs {
  right: 0;
  margin-right: 15px;
  top: 20%;
  position: absolute;
}
.dashboardNews {
  margin-top: 96px;
  color: #bdbdbd;
  border-radius: 5px;
  border: 1px solid rgba(47, 102, 152, 0.66);
  background: #2f2f2f;
  box-shadow: 0px 4px 21.9px 0px rgba(66, 66, 66, 0.59);
  width: 675px;
  height: 330px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  align-items: center;
  justify-content: center;
  gap: 26px;
  text-align: center;
  position: relative;
}
.dashboardNews h2 {
  font-size: 28px;
  font-weight: 300;
}
.dashboardNews h3 {
  color: #bdbdbd;
  font-size: 24px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.dashboardTag {
  position: absolute;
  top: 0;
  transform: translateY(-20px);
  width: 117px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #2f6698;
  background: linear-gradient(
    93deg,
    rgba(33, 38, 62, 0.52) -27.44%,
    rgba(82, 94, 110, 0.28) 109.78%
  );
}

.profileNav {
  position: relative;
}

.userNavPoup {
  position: absolute;
  width: 217px;
  height: 277px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #2f6698;
  background: linear-gradient(
    198deg,
    rgba(85, 92, 101, 0.16) 12.23%,
    rgba(28, 30, 56, 0.74) 116.61%
  );
  top: 44px;
  right: 8px;
  z-index: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  transition: opacity 250ms ease-in-out;
  color: #bdbdbd;
}
.userNavPoup .visible {
  opacity: 1;
}

.userNavPoup > div:first-child {
  padding: 10px; /* Example padding */
}
.usersNavLink {
  padding: 15px;
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  position: relative;
}
.usersNavLink:hover {
  background: linear-gradient(
    161deg,
    rgba(47, 58, 73, 0) 50.07%,
    #23aae4 2810.01%
  );
  box-shadow: 0px -8px 14.8px -7px rgba(49, 108, 200, 0.98) inset;

  cursor: pointer;
}
.underLine {
  height: 1px;
  width: 100%;
  background: #b0d8e9;
}

.renderCardsWrapper {
  margin-top: 50px;
  position: relative;
  min-width: 800px;
}

.figureHome {
  max-width: 900px;
}
.afterWrap::after {
  bottom: -15%;
  right: 0%;
  transform: rotate(-90deg);
}

.afterWrap::before {
  top: -5px;
  left: 0%;
  transform: rotate(90deg);
}

.renderCardsWrapper::before,
.renderCardsWrapper::after,
.afterWrap::after,
.afterWrap::before {
  content: "";
  position: absolute;
  width: 19px; /* Size of the square */
  height: 19px; /* Size of the square */
  background-color: transparent; /* Adjust color as needed */
  border-bottom: 0.5px solid #505050;
  border-left: 0.5px solid #505050;
}
.renderCardsWrapper::before {
  top: -20px;
  left: -5%;
  transform: rotate(90deg);
}

.renderCardsWrapper::after {
  bottom: -30%;
  right: 20%;
  transform: rotate(-90deg);
}

.renderCards {
  border: 1px solid #807f7f;
  width: 205px;
  height: 205px;
  border-radius: 8px;
  padding: 20px;
  padding-right: 13px;
  cursor: pointer;
}
.renderCards:hover {
  background: #282828;
}
.renderAutoTextBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f0ffd27;
  position: absolute;
  bottom: 5%;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #807f7f57;
}

.renderAutoTextBtn:hover {
  background: #9484ff70;
}

@media screen and (max-width: 800px) {
  .chatDashboard {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chatDashboardForm {
    width: 100%;
  }
  .dashboardNews {
    width: 100%;
  }
  .chatFormSubmit {
    width: 99% !important;
  }
}

.chatFormSubmit {
  padding: 15px 70px;
  width: 80%;
  height: 49px;
  bottom: 0;
  flex: 1;
  display: flex;
  align-items: end;
  font-size: 14px;
  position: fixed;
}

.chatFormSubmit textarea {
  height: 55px;
  outline: none;
  width: 890px;
  max-width: 890px;
  background: #50505018;
  border-radius: 10px;
  border: 1px solid #505050;
  resize: none;
  padding: 15px 25px;
  padding-right: 90px;
  font-size: 14px;
  position: relative;
  /* color:#807F7F; */
}
.textAreaIconWrapper {
  position: absolute;
  right: 20px;
  top: 15px;
}

.textAreaIcon {
  border: 0.5px solid #6e6e6e;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 1357px) {
  .chatFormSubmit textarea {
    height: 55px;
    width: 99%;
  }
  .textAreaContainer {
    height: 55px;
    width: 95%;
  }
}

@media screen and (max-width: 1220px) {
  .chatDashboardWrapper h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 950px) {
  .chatDashboardWrapper h2 {
    font-size: 28px;
  }
}

.hoverBgBtn {
  padding: 5px;
  border-radius: 5px;
}
.hoverBgBtn:hover {
  background: #0f0b27;
}

.deleteChatContainer {
  width: 110pxs;
  height: 96px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  padding: 24px 15px;
}

/* DashBoard code  */

/* Navigation CSS and Chat  */

.openChatMobile {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1195px) {
  .openChatMobile {
    display: inline;
    position: relative;
  }
}
/* Navigation CSS and Chat  */

/* LOGIN FORM */
.loginForm {
  padding: 54px 48px;
  border: 0.5px solid #807f7f;
  /* height: 589px; */
  width: 417px;
  border-radius: 8px;
  background: #12121284;
  color: #fff !important;
  transition: all 250ms ease-in-out;
}
.noPadding {
  padding: 0px !important;
}
.loginForm input {
  border: 0.5px solid #505050;
}

.logoCircle {
  height: 30px;
  min-height: 30px;
  max-height: 85px;
  width: 85px;
  border-radius: 50%;
  /* background: white; */
  margin-bottom: 2rem;
}
.googleForm {
  height: 41px;
  border: 0.5px solid #505050;
}
.formBtn:hover {
  background: #d8d8d8;
}

.loginDivider {
  background: #807f7f80;
  width: 88px;
  height: 1px;
  border: 1px;
}

.inputIcon {
  position: absolute;
  top: 25%;
  left: 3%;
}
.iconEnd {
  right: 2% !important;
  left: inherit !important;
  cursor: pointer;
}

.formInput {
  padding-left: 40px;
  position: relative;
  color: #fff;
}
/* LOGIN FORM */

/* QUESTION FORM */
.questionHeader {
  background: url("../../public//assets//Pattern_BG.png");
  width: 100%;
  height: 114px;
  background-position: center center;
  background-size: cover;
}
.questionHeader .logoCircle {
  z-index: 1;
}
.purpleOverlay {
  background: #715bae;
  height: 100%;
  width: 100%;
  opacity: 30%;
  position: absolute;
}
.dropDownSelection {
  height: 51px;
  min-height: 41px;
  border: 0.5px solid #505050;
  cursor: pointer;
}

.dropDownSelectionDiv {
  position: absolute;
  background: #0f0f0f;
  width: calc(100% - 4rem);
  padding-left: 2rem;
  border: 0.5px solid #505050;
  border-radius: 8px;
  padding: 30px 16.25px;
  top: 55%;
  /* display: none; */
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  transition: top 250ms ease-in-out;
  pointer-events: none;
  z-index: 0;
}
.dropDownSelectionDiv ul li {
  cursor: pointer;
  margin: 10px 0px;
  padding: 8px 10px;
  border-radius: 8px;
}

.dropDownSelectionDiv ul li:hover {
  background-color: #50505025;
}
/* QUESTION FORM */

.selectedBorder {
  width: 100%;
  height: 2px;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
}
.noneBorder {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.146);
  border: 1px solid rgba(255, 255, 255, 0.146);
  border-radius: 5px;
}

/* PROFILE CSS */
.greyDivider {
  height: 2px;
  width: 100%;
  border-color: #60606081;
  /* background: #60606081; */
}

.accountContainer {
  border: 0.5px solid #505050;
  height: 100%;
  border-radius: 10px;
}
.accountDiv {
  padding: 20px;
}
/* PROFILE CSS */

/* BLOG PAGES */

.layout-text {
  max-width: 80%;
  margin-left: auto;
}
.layout-image {
  width: 100%;
  height: 100%;
  max-height: 600px;
}
.layout-image img {
  width: 100%;
  height: 100%;
  max-height: 600px;

  object-fit: cover;
}
@media screen and (max-width: 950px) {
  .layout-one {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .layout-text {
    max-width: 100%;
    margin-left: auto;
  }
}
/* BLOG PAGES */
